/konkurrens/Konk_gyak1/nbproject/private/
/konkurrens/Konk_gyak1/build/
/konkurrens/Konk_gyak1/dist/
/konkurrens/bead_1/nbproject/private/
/konkurrens/bead_1/build/
/konkurrens/bead_1/dist/
/konkurrens/Bead2/nbproject/private/
/konkurrens/Bead2/build/
/konkurrens/Bead2/dist/
/konkurrens/bead_3/nbproject/private/
/konkurrens/bead_3/build/
/konkurrens/bead_3/dist/
/konkurrens/bead_4/nbproject/private/
/konkurrens/bead_4/build/
/konkurrens/bead_4/dist/
/konkurrens/bead_9/nbproject/private/
/konkurrens/bead_9/dist/
/konkurrens/bead_9/build/
/konkurrens/nagybead_1/nbproject/private/
/konkurrens/nagybead_1/build/
/konkurrens/nagybead_1/dist/
/konkurrens/bead_10/nbproject/private/
/konkurrens/bead_10/build/
